.u-center {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.u-margin-btm-s {
    margin-bottom: 1rem;
}

.u-margin-btm-m {
    margin-bottom: 3rem;
}

.u-margin-btm-l {
    margin-bottom: 8rem;
}

.u-margin-btm-xl {
    margin-bottom: 12rem;
}

.u-margin-right-m {
    margin-right: 5rem;
}